header {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0.2em 1em;
  gap: 6em;
  background-color: #eeeeee;

  button {
    border: 1px solid #545454;
    border-radius: 10px;
    padding: 0.3em 0.6em;
    font-size: 1em;
  }
}
