@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  text-decoration: inherit;
  font-weight: 800;
}

.documentation_container {
  position: absolute;
  left: 10px;
  top: 60px;
  z-index: 10;
  background-color: #cfd0ea;
  border: solid 1.5px #8286ff;
  border-radius: 4px;
  padding: 10px;
  width: 35%;
  height: 85%;
  overflow: scroll;
}